.definition {
  display: none;
}

.term{
  font-size: 20pt;
  text-align: center;
}

.well {
  height: 150px;
  background-color: rgba(153,157,160, 0.5);
}

body {
  background-color: #a3969e;
}

.col-sm-4:nth-child(3n + 1) {
  color: #2b7c85;
}

.col-sm-4:nth-child(3n + 2) {
  color: 	#e7d2cc;
}

.col-sm-4:nth-child(3n + 3) {
  color: #eeeeee;
}
